# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env   
.env.local                      ///never ever please commit local or any env files dont be dumb
.env.*.local

# IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Misc
.cache/

*storybook.log
storybook-static

# Python cache
__pycache__/
*.pyc

# Databases
*.db
